PORT=5000
MONGODB_URI=mongodb://localhost:27017/amul-store
JWT_SECRET=your-secret-key-change-this
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
STORE_PHONE=918209524367
STORE_NAME=Neerza Amul Ice Cream Parlour
FRONTEND_URL=http://localhost:3000
